@{
	_Layout = "Layout";
}

<div id="counter">
	Counter: <span data-bind="text:counter"></span>
</div>

@section scripts {
	@Scripts.Render("/signalr/hubs")
	<script type="text/javascript">
		(function ($) {
			var viewModel = {
				counter: ko.observable()
			};

			ko.applyBindings(viewModel, $("#counter")[0]);

			var counterHub;
			$(function () {
				counterHub = $.connection.counterHub;
				counterHub.setCounter = function (counter) {
					viewModel.counter(counter);
				};
				$.connection.hub.start(function() { counterHub.start(); });

			});
		})(jQuery);
	</script>
	

}

<h1>Index</h1>